# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
yarn-error.log
.DS_Store
.env
.vscode
npm-debug.log
packages/infrastructure/**/*.js
packages/infrastructure/cdk.out
packages/infrastructure/cognito/cognito_arn.js
packages/infrastructure/cognito/cognito_arn.ts
packages/infrastructure/service/cognito/cognito_arn.ts 
packages/infrastructure/service/cognito/cognito_arn.js
packages/infrastructure/service/cognito/cognito_arn.ts