.recommendation__card-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.recommendation__image-round-border {
	border: 1px solid lightgrey;
	border-radius: 100%;
}

.recommendation__heading-container {
  max-width: 61%;
  margin-left: 7%;
}

.recommendation__heading-title {
  text-align: left;
  line-height: 2.1rem;
  text-transform: uppercase;
}

.displayNone {
  display: none;
}