body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #f3f2f2;
  height: 100%;
}

.app-percent {
  height: 100%;
}

.app-vh {
  height: 100vh;
}

.app__logo {
  height: 5vh;
}

.app__header {
  height: auto;
  margin: auto 0;
  color: black;
}

.app__header__container {
	margin-bottom: 0.3rem;
}

.app__header__heading {
	margin: 0;
}

.app__intro {
  font-size: large;
}
