.autocomplete__input {
	width: 100%;
	font-size: 18px;
	border: none;
	line-height: 22px;
	padding: 5px 10px 5px 25px;
	height: 32px;
}

.autocomplete__input:focus {
	outline: none;
}

.autocomplete__icon {
	display: inline-block;
	transform: rotate(-45deg);
	cursor: pointer;
	left: 1.6rem;
	position: absolute;
	color: #2060aa;
	font-size: 1.3rem;
}

.autocomplete__list {
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
	padding: 0;
	list-style-type: none;
	background: white;
}

.autocomplete__list-item {
	color: black;
}

.autocomplete__list-item:hover {
	background-color: lightgray;
	color: black;
	cursor: pointer;
}